{% extends "cdn/base_index.html" %}
{% block description_contetnt %}Проверка кеширования контента в CDN{% endblock %}
{% block title %}Кеширование контента в CDN{% endblock %}
{% block h1 %}Проверка кеширования контента в CDN{% endblock %}
{% block form_content %}
    <form action="{% url 'cash_results' %}" method="post">
        {% csrf_token %}
        <table class="table">{{form}}</table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
{% block back %}
<div class="text-start pt-5"><a href = "{% url 'main' %}" class="btn btn-info text-white">К списку утилит</a></div>
{% endblock %}
{% block description %}
<p>Кеширование позволяет посетителям сайта быстрее получать его содержимое. Для того, чтобы это работало, содержимое кеша на всех серверах должно быть одинаковым. 
Проверка кеша на серверах CDNNOW позволяет выяснить актуальность содержимого кеша, связанного с URL.</p>
<p>Если в результате проверки окажется, что содержимое кеша на серверах CDNNOW различается, рекомендуется запустить очистку кеша содержимого URL, 
чтобы кеш мог быть снова заполнен актуальными данными. В настоящее вермя очистить кеш можно в проектах на сайте CDNNOW</p>
<p>В поле <em>Page URL</em> требуется ввести URL тестируемой страницы портала Sputnik, в поле <em>CDN on the page</em> - домен CDN, 
    используемый на тестируемой странице. Домен можно получить, открыв исходный текст тестируемой страницы. Например, в ссылке на изображение 
    <code>https://<mark>cdn1.img.sputniknews.com.tr</mark>/img/07e7/01/0d/1065715712_0:0:1536:864_1920x0_80_0_0_a64c0583379bdf20f66e30fbbc5be8c1.jpg.webp</code>
     выделен домен CDN. </p>
<p>Количество одновременно проверяемых ссылок должно быть не более 10. Если количество ссылок из CDN на странице больше 10, ссылки выбираются случайным образом. При этом
    количество ссылок может быть меньше 10 (сервис CDNNOW удаляет продублированные ссылки).</p>
<p><mark>Внимание: запускать новые задачи по проверке кеша можно не чаще, чем 1 раз в 5 минут!</mark></p>
{% endblock %}